<h1>Alexandros-Apollo Rodopoulos</h1>
<h2>Web Developer</h2>
<p>Software developer with 3+ years of experience in web technologies like .Net platform and Angular framework.
  Passionate about programming and perfection. Always excited about challenging projects. In a quest to improve and
  sharpen his skills. Efficient at work, good team player.
</p>
<h3>EXPERIENCE</h3>
<hr>
<h3>Tripark.com, Paiania Greece — Web developer</h3>
<h6>November 2015 - PRESENT</h6>
<p>
  Contributing to both the requirements and technical aspects of any development
  specification. Investigating software problems identified in testing, and also
  assisting in the resolution of software support issues
</p>
<span>Duties:</span>
<ul>
  <li>
    Working on the incorporation of smart technology & the use of portable
    devices.
  </li>
  <li>
    Implementation of new services, applications and demonstrating them.
  </li>
  <li>
    Identifying and analyzing performance bottlenecks, then rectifying them.
  </li>
  <li>
    Reporting for ongoing tasks and assignments.
  </li>
  <li>
    Technical design and documentation of new applications.
  </li>
  <li>
    Involvement in analysis and design meetings.
  </li>
  <li>
    Creating new applications for a data collection, maintenance &
    processing team.
  </li>
  <li>
    Responsible for requirements capture, designing, coding, testing,
    installation. Web Application maintenance.
  </li>
  <li>
    Unit testing of all new code and developing with additional features.
  </li>
  <li>
    Providing support & maintenance of existing implementations.
  </li>
</ul>

<h3>Military Duty, Army Signals School — Payroll assistant and Food
  officer</h3>
<h6>September 2018 - May 2019</h6>
<p>
  My main duty was supplying 4 Greek military camps and an outpost with food
  supplies and I was in charge of their smooth administration. Also, I was managing
  other internal operations such as payroll books, supply orders, etc.
  My secondary duty was to provide my services at the communications center of
  the camp
</p>
<h3>KEY SKILLS</h3>
<hr>
<ul>
  <li>
    Knowledge of: .Net core, Angular 6, Git Repository, ASP.NET, TDD,
    Javascript, PHP, HTML.
  </li>
  <li>
    Experience in: MVC, WPF, UWP, Entity Framework, SQL Server, Design
    patterns, UML, OO, XSLT, Android.
  </li>
  <li>
    Fluent in the current range of Microsoft C# .Net /Java related
    technologies.
  </li>
  <li>
    Basic knowledge of: MS suite, Adobe Photoshop, Adobe Illustrator, 3ds
    Max, Adobe Premiere, X3D, X3dom.
  </li>
  <li>
    Experience in Multi-threading and task-based.
  </li>
  <li>
    Ability to respond to pressure and meet tight deadlines.
  </li>
  <li>
    Good knowledge of MS SQL Server.
  </li>
  <li>
    Code readability, performance and documentation.
  </li>
  <li>
    Focusing on performance, reliability and security.
  </li>
</ul>